In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [8]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [11]:
dframe

       col1      col2      col3      col4      col5
A  0.763272  0.881930  0.557823  1.422585  0.268890
B -0.444602  0.118145 -0.612463 -0.135939 -0.323876
D -0.275770 -0.769226 -0.908368 -1.201699  1.009498
E -0.731415  0.342983 -0.534238 -0.640910  1.452554
F  1.546520 -0.444040  1.831687  0.901912  0.015956

In [12]:
new_index = ['A','B','C','D','E','F']

In [13]:
dframe2 = dframe.reindex(new_index)

In [14]:
dframe2

       col1      col2      col3      col4      col5
A  0.763272  0.881930  0.557823  1.422585  0.268890
B -0.444602  0.118145 -0.612463 -0.135939 -0.323876
C       NaN       NaN       NaN       NaN       NaN
D -0.275770 -0.769226 -0.908368 -1.201699  1.009498
E -0.731415  0.342983 -0.534238 -0.640910  1.452554
F  1.546520 -0.444040  1.831687  0.901912  0.015956

In [15]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.763272  0.881930  0.557823  1.422585  0.268890   NaN
B -0.444602  0.118145 -0.612463 -0.135939 -0.323876   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.275770 -0.769226 -0.908368 -1.201699  1.009498   NaN
E -0.731415  0.342983 -0.534238 -0.640910  1.452554   NaN
F  1.546520 -0.444040  1.831687  0.901912  0.015956   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A  0.763272  0.881930  0.557823  1.422585  0.268890
B -0.444602  0.118145 -0.612463 -0.135939 -0.323876
D -0.275770 -0.769226 -0.908368 -1.201699  1.009498
E -0.731415  0.342983 -0.534238 -0.640910  1.452554
F  1.546520 -0.444040  1.831687  0.901912  0.015956

In [24]:
dframe.loc[new_index, new_columns]

/Users/daiki/anaconda/envs/test/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.763272  0.881930  0.557823  1.422585  0.268890   NaN
B -0.444602  0.118145 -0.612463 -0.135939 -0.323876   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.275770 -0.769226 -0.908368 -1.201699  1.009498   NaN
E -0.731415  0.342983 -0.534238 -0.640910  1.452554   NaN
F  1.546520 -0.444040  1.831687  0.901912  0.015956   NaN